################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookLibrary
/src/BookLibrary.Data/obj
/src/BookLibrary.Domain/obj
